root = true

[*.cs]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
insert_final_newline = true
csharp_new_line_before_open_brace = control_blocks, methods, types, properties 
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
